* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 75px;
  padding: 0;
  text-align: center;
  width: 75px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game > * {
  padding: 5px;
}

.controls button {
  border: none;
  padding: 0.3rem 1.2rem;
  border-radius: 5px;
  background: #999;
  cursor: pointer;
  transition: 0.5s;
}

.controls button:hover {
  background: #aaa;
}

@media screen and (max-width: 425px) {
  .game {
    flex-direction: column;
  }
}
